@import '../../../../vendor/filament/filament/resources/css/theme.css';

/* Components */
@import "components/_gallery.scss";
@import "components/_search.scss";

/* Pages */
@import "pages/_listSeries.scss";
@import "pages/_viewSeries.scss";
@import "pages/_viewEpisode.scss";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
