@import '../../../../vendor/filament/filament/resources/css/theme.css';

/* Components */
@import "components/_gallery.scss";
@import "components/_search.scss";
@import "components/_series.scss";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
